{% extends 'home/base.html' %}
{%block title%}ExpenseManager{%endblock%}
{% block body%}
{% include 'home/header.html'%}
  {% load static %}
 <section class="section-about section-t88">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">

            <img src="{% static 'home/img/Free-Outstanding-CPA-Vector-2.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">ExpenseManager

              </h3>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->

  <!--/ Team Star /-->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Meet Our Team</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">

        </div>
          <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'home/img/jay (2).jpg'%}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Jay Goyani
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  16CEUON029<br>
                  CE-035
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> 9712901090</p>
                  <p>
                    <strong>Email: </strong> jaygoyani2@gmail.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="https://www.facebook.com/" target="_blank" class="link-one">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://twitter.com/" target="_blank" class="link-one">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://www.instagram.com/" target="_blank" class="link-one">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://in.pinterest.com/" target="_blank" class="link-one">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
<div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'home/img/kenil.jpg'%}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    Kenil Gajera
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  16CEUOS094<br>
                  CE-028
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> 9586677335</p>
                  <p>
                    <strong>Email: </strong> kenilgajera65@gmail.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="https://www.facebook.com/" target="_blank" class="link-one">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://twitter.com/" target="_blank" class="link-one">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://www.instagram.com/" target="_blank" class="link-one">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://in.pinterest.com/" target="_blank" class="link-one">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="col-md-2">

        </div>



      </div>
    </div>
  </section>

{%include 'home/footer.html'%}
{%endblock%}
