<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!--<link href="{% static 'home/img/favicon.png' %}" rel="icon">-->
  <link href="{% static 'home/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="{% static 'home/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">

</head>
  {% load static %}

<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
