
{%block title%}Friexe{%endblock%}
    {%include 'home/header2.html'%}
<html>


    <body>
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        {{fname}}
<form action="/Friend/addexp/" method="post" class="container row t8">
{% csrf_token%}

        <div class="col-md-3 mb-1">
            <div class="form-group">
              <label>Add</label>
              <select name="add" class="form-control form-control-lg form-control-a" id="bedrooms">
                <option>Other</option>
                <option>Food</option>
                <option>Entertainment</option>
                <option>Home</option>
                <option>Life</option>
                <option>Transportation</option>
                <option>Utilities</option>
              </select>
            </div>
          </div>
        <div class="col-md-3 mb-1">
            <div class="form-group">
              <label>Pay Option</label>
              <select name="add1" class="form-control form-control-lg form-control-a" >
                <option>Split</option>
                <option>You owe full Expense</option>
                <option>They owe full Expense</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 mb-1">
            <div class="form-group">
              <label>Amount</label>
            <input class="form-control form-control-lg form-control-a" min="0"  title="This must be a number with up to 2 decimal places and/or %" oninvalid="this.setCustomValidity('Please Enter valid Number ')" oninput="setCustomValidity('')" pattern="[0-9]+(\.[0-9]{0,2})?%?" id="garages" name="amount" required>            </div>
          </div>
        <div class="col-md-3 mb-1">
            <div class="form-group">
                <label>Details</label>
                <textarea rows="1" cols="1" title="Maximum 200 Characters" oninvalid="this.setCustomValidity('Please Enter valid Details')" oninput="setCustomValidity('')" name="details" class="form-control form-control-lg form-control-a"  placeholder="Details" maxlength="200" ></textarea>
            </div>
        </div>
          <div class="col-md-2 mb-3">
                    <button class="btn btn-ba form-control form-control-lg form-control-a">Add</button>
          </div>
</form>
    </div>
    </div>
</section>

<section class="section-services section-t4">
    <div class="container">
<div class="row">
<h4 class="col-md-3 icon-title">Type</h4>
<h4 class="col-md-3 icon-title">Pay option</h4>
<h4 class="col-md-3 icon-title">Amount</h4>
<h4 class="col-md-3 icon-title">Date</h4>

 {% for item in itmes %}
                            <form method="post" id="myForm" class="row" action='/Friend/friexeupdate/'>
                                {% csrf_token%}

                      <input   type="hidden" name="exeupdate"  class="form-control form-control-lg form-control-a" value="{{item.id}}"  >
                                <div class="col-md-3 mb-1 ">

                      <input  type="text"  class="form-control form-control-lg form-control-a" value="{{item.exptype}}"  readonly>

</div>

    <div class="col-md-3 mb-1 ">
                        <input type="text"  class="form-control form-control-lg form-control-a" value="{{item.details2}}" readonly >
    </div>
    <div class="col-md-2 mb-1 ">
                        <input type="text"  class="form-control form-control-lg form-control-a" value="{{item.amount}}" readonly >
    </div>
    <div class="col-md-2 mb-1 ">
                        <input type="text"  class="form-control form-control-lg form-control-a" value="{{item.exp_fri_date}}" readonly >
    </div>
<div class="col-md-2 mb-3">
                    <button class="btn btn-ba form-control form-control-lg form-control-a">Update</button>
          </div>
                            </form>
  {% endfor %}

</div>

    </div>
</section>

    </body>

</html>
{%include 'home/footer.html'%}
